version: '3.1'
services:
  database:
     image: 'mongo'
     container_name: 'mongodb'
     restart: always
     environment:
       MONGO_INITDB_DATABASE: {{ _mongo_db_ }}
       MONGO_INITDB_ROOT_USERNAME: {{ _mongo_root_user_ }}
       MONGO_INITDB_ROOT_PASSWORD: {{ _mongo_root_passwd_ }}
     volumes:
       - ./conf.d/mongod.conf:/etc/mongod.conf:ro
       - ./conf.d/home:/home/mongodb
       - ./conf.d/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
       - ./mongo-volume:/data/db
     ports:
       - '27017-27019:27017-27019'
